* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  background-color: #262928; }

.page {
  background-color: #fff;
  width: 980px;
  margin: 0 auto;
  padding: 20px;
  min-height: 400px; }

.container.header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0px!important;
  margin-bottom: 30px; }

ul.nav-bar {
  font-size: 13px;
  font-weight: bold;
  background: transparent;
  border: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 30px; }
  ul.nav-bar li {
    border: 0px;
    line-height: auto!important;
    height: 28px!important; }
    ul.nav-bar li a {
      font-size: 13px!important;
      color: #fff;
      padding-left: 0px!important;
      padding-right: 30px!important;
      height: 30px;
      line-height: 28px; }

ul.tree {
  padding: 0px;
  margin: 0px; }
  ul.tree li {
    padding: 0px;
    margin: 0px; }
    ul.tree li span, ul.tree li a {
      border: 1px solid #ccc;
      display: block;
      width: 100%;
      padding: 5px;
      margin-bottom: 3px; }
    ul.tree li ul {
      padding: 0px;
      margin: 0px;
      margin-left: 20px; }

.form p {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 7px; }
.form label {
  font-weight: bold;
  padding-bottom: 4px;
  color: #353535; }
.form .input-text {
  border: 1px solid #ccc;
  padding: 6px;
  font-family: arial, sans-serif; }

h4 {
  margin-bottom: 10px; }

.panel {
  background: #F6F6F6; }

a.button {
  background-color: #ff5870; }
